.outer-container {
	width: 750px;
	margin: 0 auto;
}

#nav-container {
	text-align: center;
}

.late-name {
	margin: 0;
}

.checkbox {
	margin-left: 10px;
}

.late-cancel {
    display: block;
    float: right;
}

#request-submit {
	float: right;
}

.well .form-inline {
	margin: 0px;
}

.refrigerated {
	color: #000291;
}

.veggie {
	color: #0D5900;
}
